<div class="page-header">
    <h2>Register !!!!</h2>
</div>
<div>
    <form  name="form"  ng-submit="submit()" novalidate class="css-form">
        <div class="form-group">

            <label for ="Name">Username</label><input class="form-control" type="email" name="name" ng-model="user.name" placeholder="Username" ng-maxlength=56 required /></p>
        <span ng-show="form.name.$dirty && form.name.$invalid" style="color:red">
            <p ng-show="form.name.$error.maxlength">Should be email not more than 56 characters</p>
            <p ng-show="form.name.$error.required"> This is required</p>
        </span></div>
        <div class="form-group">
            <label for ="firstname">Firstname</label><input class="form-control" type="text" name="firstname" ng-model="user.firstname" placeholder="Firstname" ng-maxlength=50 required /></p>
        <span ng-show="form.firstname.$dirty && form.firstname.$invalid" style="color:red">
            <p ng-show="form.firstname.$error.maxlength">Not more than 50 characters</p>
            <p ng-show="form.firstname.$error.required"> This is required</p>
        </span></div>
        <div class="form-group">
      <label for ="lastname">Lastname</label> <input class="form-control" type="text" name="lastname" ng-model="user.lastname" placeholder="Lastname" ng-maxlength=50 required /></p>
        <span ng-show="form.lastname.$dirty && form.lastname.$invalid" style="color:red">
            <p ng-show="form.lastname.$error.maxlength">Not more than 50 characters</p>
            <p ng-show="form.lastname.$error.required"> This is required</p>
        </span>
            </div>

        <div class="form-group" ng-class="{'has-error':!form.password.$valid}">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="password" required  ng-model="password" ng-minlength =6 />
            <p ng-show="form.password.$error.minlength">Should atleast be 6 characters</p>
            <span class="help-block" ng-show="form.password.$error.required">Required</span>
        </div>

        <div class="form-group" ng-class="{'has-error':!form.passwordConfirmation.$valid}">
            <label for="passwordConfirmation">Confirm Password</label>
            <input class="form-control" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="password" />
            <span class="help-block" ng-show="form.passwordConfirmation.$error.required">Required</span>
        </div>


       <!--<p>Set a password:</p>
        <input type="password" id="pw1" name="pw1" ng-model="pw1" ng-required="" />
        <p>Confirm the password:</p>
        <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1" />
        <div class="msg-block" ng-show="form.$error"> <span class="msg-error" ng-show="form.pw2.$error.pwmatch">Passwords don't match.</span>
        </div>-->
        <div class="form-group">
            <label for="exampleInput">Pick a date</label>
            <input type="date" id="exampleInput" name="input" ng-model="example.value"
               placeholder="yyyy-MM-dd" min="1995-01-01" max="2015-12-31" required />
            <div role="alert">
                <span class="error" ng-show="form.input.$error.required">
                Required!</span>
                <span class="error" ng-show="form.input.$error.date">
                Not a valid date!</span>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" value="Submit" />
        <span class="help-block" ng-show="form.passwordConfirmation.$error.match">Passwords do not match.</span>
    </form>
</div>

<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>

<script>
</script>
